@font-face {
    font-family: bioFont;
    src: url(fonts/bioFont.otf);
}
* {
    font-family: bioFont;
    padding: 0px;
    margin: 0px;
}
header{border: red 5px solid;}
aside{
    float: left;
    height: 50%;
}
section{
    float: right;
    height: 50%;
}
footer{border: black 5px solid;}
/* grillas */
 /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #img-web {
    display: none;
  }
}

#profile{
    margin-right:100px;
}
body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 80px;
    background: url('https://i.ibb.co/bRdZbNC/fnd2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header, footer {
    background-color: #9BD02A;
    color: white;
}

.font-bio {
    font-family: bioFont;
}

.center-items {
    align-items: center;
    text-align: center;
}

h2 {
    color: rgb(12, 92, 141);
}

.input-rg-li {
    background-color: rgba(248, 250, 250);
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
}

.btn-registrar {
    background-color: rgb(121, 224, 231, 0.7);
    color: rgb(15, 15, 15);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
}

.post-background {
    background:#fff;
    opacity: 0.8;
    border-radius: 6px;
    margin: 5%;
}

.title-post {
    font-size: 12px;
    text-align:left;
    margin: 3%;
}

.ico-fb, .ico-google {
    width: 40px;
    height: 40px;
}

.warning {
    color: red;
}

.img-tree {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

header {
    width: 100%;
	left: 0;
	top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;	
    z-index: 100;
    padding: 0 15px;
}

#container {
    background: rgba(155, 208, 42, 0.3);
    border-radius: 1em;
}

.home {
    padding: 10px;
    background: #dfdcdc;
}

.btns-home {
    background: rgb(164, 231, 248);
    border: 1px solid #dfdcdc;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 25px;
    padding: 15px;
}

.btns-home:hover{
    background: #9BD02A;
    color:beige;
}

.link-delete {
    background-image: url('https://image.flaticon.com/icons/png/512/221/221755.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: right;
}

.align-left {
    text-align: right;
}

#txt-post {
    width: 100%;
    border: 0px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10px #404040;
    padding: 15px;
    color: rgb(49, 61, 54);
    box-sizing: border-box;
}

#txt-post:focus {
    outline-style: none;
}

.btn-wall {
    background-color: rgb(12, 95, 146);
    color: #fff;
    border-radius: 5px;
 }
 
 .btn-wall {
    background-color:rgb(12, 95, 146);
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    box-shadow: unset 0px 0px 10px #404040;
 }
 
 .select-security {
    background-color: #30421c;
    color: #fff;
    border-radius: 2px;
 }

.menu { 
   transform: translate(50px,0px);
}
ul, ol {
 list-style:none;
}
.nav > li {
 float:right;
}
			
.nav li a {
 color:#fff;
 text-decoration:none;
 padding:10px 12px;
 display:block;
}
			
.nav li a:hover {
 background-color:#434343;
}
			
.nav li ul {
 display:none;
 position:absolute;
 min-width:140px;
 background-color:rgb(121, 224, 231, 0.7);
}
			
.nav li:hover > ul {
 display:block;
}
            			
.nav li ul li {
 position:relative;
}
			
.nav li ul li ul {
 right:140px;
 top:0px
}

.nav{
    display: flex;
    justify-content: flex-end;
}

img{
    width: 20px;
    height: 20px;

}